#id_name{
  margin-left: 79px;
  margin-bottom: 10px;
}

#id_email{
  margin-left: 30px;
  margin-bottom: 30px;
}

#id_body{
  margin-left: 60px;
}

#submit{
  margin-top: 15px;
  margin-left: 400px;
}
