.refresh{
  width: 24px;
  height:24px;
  margin-left: 10px;
  margin-top: 70px;
}

#refreshButton{
  width: 24px;
  height: 24px;
  border: none;
  background: url(../img/refresh.png) no-repeat;
  background-size: 20px;
  z-index: 2;
  position: relative;
}

#refreshButton:hover {
  background: url(../img/refresh_over.png) no-repeat;
  background-size: 20px;
}

#refreshButtonGoogle{
  width: 24px;
  height: 24px;
  border: none;
  background: url(../img/google_refresh.png) no-repeat;
  background-size: 20px;
  z-index: 2;
  position: relative;
}

#refreshButtonGoogle:hover {
  cursor: pointer;
}

.fillForm{
    margin-top: 50px;
    margin-left: 150px;
    width: 450px;
    height: 55px;
    position: absolute;
    z-index: 2;
    background-color: rgba(70, 70, 70, 0.2);
    border-radius: 2px;
}

.fillForm input{
    float: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    border: none;
    border-radius: 2px;
}

.fillForm #localizedBtn{
    width: 120px;
    height: 18px;
    background-color: #D0D0D0;
}

.fillForm #submitBtn{
    width: 120px;
    height: 18px;
    background-color: #D0D0D0;
}

.fillForm #submitBtn:disabled {
    background-color: #E1E1E1;
}


.progress{
    width: 18%;
    height: 140px;
    margin-left: 43%;
    margin-top: 10%;
    overflow: hidden;
    float: left;
    background: white;
    border-radius: 3px;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64);
    -moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64);
    box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64); 
}

.filters{
    width: 36%;
    height: 600px;
    margin-left: 33%;
    margin-top: 5%;
    background: white;
    border-radius: 3px;
    z-index: 2;
    position: relative;
    display: none;
    overflow: hidden;
    float: left;
    -webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64);
    -moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64);
    box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64); 
}

.header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #303030;
    color: #1AB1E2;
    overflow: hidden;
    margin-bottom: 15px;
}

progress{  
    vertical-align: middle;
    overflow: hidden;
    margin-left: 0%;
    margin-right: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #D0D0D0;  
    color: #1AB1E2;
    border: 0;  
    height: 18px;  
    position: relative;
}  

progress::-moz-progress-bar {background: #1AB1E2;}
progress::-webkit-progress-value {background: #1AB1E2;}

.progress h2, .filters h2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 15%;
    font-size: 14px;
}

.progress label{
    vertical-align: middle;
    overflow: hidden;
    margin-left: 17%;
    margin-right: 2%;
}

.progress p{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 11px;
}

.filters p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 11px;
}
.progress p{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 11px;
}
.progress input, .filters .button{
    margin-top: 0px;
    margin-right: 8%;
    margin-bottom: 10px;
    font-size: 11px;
    width: 60px;
    height: 15px;
    border: none;
    float: right;
    padding: none;
    background-color: #D0D0D0;
    border-radius: 2px;
}

.filters .month{
    width: 25%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 10px;
    font-size: 11px;
    border: none;
    float: left;
    overflow: hidden;
    padding: none;
    background-color: #D0D0D0;
    border-radius: 2px;
}

.sortable{
    width: 45%;
    height: 63%;
    overflow: hidden;
    float: left;
    font-size: 11px;
    background: #F1F1F1;
    padding: 0px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: 7%;
    overflow-y: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
        
.sortable li{
    font-size: 10px;
    line-height: 1.3;
    float: center;
    list-style: none;
    border: none;
    float: center;
    background-color: #D0D0D0;
    margin: 5px 5px 5px 5px;
    height: 47px;
    text-align: center;
    border-radius: 2px;
}
        
li:hover {
    background: #EEEEEE;
}

li.sortable-placeholder {
    border: 1px dashed #BBB;
    background: none;
}

.body_main{
    background: url(../img/map_background.png);
    background-repeat:repeat;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:11px;
    color:#505050;
    line-height:18px;
    margin: 0px;
}

.map_object{
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.div_center{
    overflow:auto;
    padding-bottom:15px;
}

