.refresh{
  width: 24px;
  height:24px;
  margin-left: 10px;
  margin-top: 70px;
}

#refreshButton{
  width: 24px;
  height: 24px;
  border: none;
  background: url(../img/refresh.png) no-repeat;
  background-size: 20px;
  z-index: 2;
  position: relative;
}

#refreshButton:hover {
  background: url(../img/refresh_over.png) no-repeat;
  background-size: 20px;
}

#refreshButtonGoogle{
  width: 24px;
  height: 24px;
  border: none;
  background: url(../img/google_refresh.png) no-repeat;
  background-size: 20px;
  z-index: 2;
  position: relative;
}

#refreshButtonGoogle:hover {
  cursor: pointer;
}

.fillForm{
    margin-top: 60px;
    margin-left: 100px;
    width: 500px;
    height: 55px;
    position: absolute;
    z-index: 2;
}

.fillForm #localizedBtn{
    margin-top: 10px;
    margin-left: 5px;
}

.fillForm #submitBtn{
    margin-left: 65px;
}

.progress{
    width: 200px;
    height: 110px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5%;
    background: white;
    border-radius: 3px;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64);
    -moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64);
    box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.64); 
}

progress{  
    margin-left: 18%;
    margin-right: 20%;
    margin-top: 0px;
    margin-bottom: 8px;
    background-color: #f3f3f3;  
    border: 0;  
    height: 18px;  
    position: relative;
}  

.progress p{
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 18%;
    margin-right: 18%;
    font-size: 9px;
}

.progress input{
    margin-top: 0px;
    margin-left: 55%;
    margin-bottom: 10px;
    font-size: 9px;
    width: 60px;
    height: 10px;
}

.body_main{
    background: url(../img/map_background.png);
    background-repeat:repeat;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:12px;
    color:#505050;
    line-height:18px;
    margin: 0px;
}

.map_object{
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.div_center{
    overflow:auto;
    padding-bottom:15px;
}

