header {
  height: 35px;
  padding: 2px 9px;
  background: #222222;
  width: 100px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center; 
  float: right;
  z-index:3;
  position: relative;
}

a.menu {
  display: block;
  width: 30px;
  margin: 0 auto;
  z-index:10;
  position: relative;
}

a.menu .bar {
  background-color: #6cb6e8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  height: 3px;
  width: 100%;
  margin: 6px 0; 
  z-index:10;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  display: none; }

nav {
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.4s 0.4s;
  -moz-transition: all 0.4s 0.4s;
  transition: all 0.4s 0.4s; }
  nav ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    nav ul > li {
      display: table;
      text-align: center;
      float: left;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
      nav ul > li:nth-child(1) {
        background-color: #1bb1e2; }
      nav ul > li:nth-child(2) {
        background-color: #19a6d4;
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        transition-delay: 0.1s; }
      nav ul > li:nth-child(3) {
        background-color: #189cc7;
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      nav ul > li:nth-child(4) {
        background-color: #1691b9;
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        transition-delay: 0.3s; }
      nav ul > li:nth-child(5) {
        background-color: #1486ab;
        -webkit-transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        transition-delay: 0.4s; 
      }
      nav ul > li:nth-child(6) {
        background-color: #127899;
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        transition-delay: 0.5s; 
      }
      nav ul > li:nth-child(7) {
        background-color: #106c89;
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        -moz-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      nav ul > li > a {
        color: #eeeeee;
        text-transform: uppercase;
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        text-decoration: none;
        font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
        letter-spacing: 0.05em;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        nav ul > li > a:hover {
          color: white;
          background-color: rgba(0, 0, 0, 0.2); }

nav.right{
    margin-top:36px;
    width: 118px;
    height: 100%; 
}

nav.right ul > li{
      width: 100%;
      height: 6%; }

nav.right {
    left: auto;
    right: -100px; 
}

nav.right ul > li {
      -webkit-transform: translate(100%, 0);
      -moz-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
      transform: translate(100%, 0); }

body.menu-open {
  cursor: url(../img/close.png) 100 35, auto; 
}

body.menu-open .overlay {
    display: block; }

nav.open {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0; }
  nav.open ul > li {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  nav.open.right {
    right: 0; 
}
