#id_email{
  margin-left: 50px;
  margin-bottom:10px;
}

#id_email_sec{
  margin-left: 36px;
  margin-bottom: 5px;
}

#id_apis{
  margin-left: 60px;
  width: 120px;
  height: 70px;
}

#id_display{
  margin-left: 50px;
}

#id_privacy{
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
