*{
    margin:0;
    padding:0;
}

a{
    outline:none;
    color:#708090;
    text-decoration:underline;
}

a.hover{
    text-decoration:none;
}

html, body{
    height: 100%;
}

label{
    display: inline-block;
    vertical-align: middle;
}

.body_main{
    background: url(../img/startup.png);
    background-repeat:repeat;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:12px;
    color:#D0D0D0;
    line-height:18px;
}

.div_body{
    text-align:left;
}

.div_center{
    overflow:auto;
    padding-bottom:15px;
}

.div_head{
    height:120px;
    position: relative;
    padding-bottom:5px;
}

.div_head a{
    color:#DBDBDB;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    border:0;
}

.div_head a.hover{
    color:#101010;
    font-size:14px;
    text-decoration: underline;
}

.div_head table{
    position:absolute;
    bottom: 0;
    right: 0;
}

.div_head td{
    text-align:center;
    width: 100px;
}

.div_foot{
    padding-right:5px;
    padding-left:5px;
    font-size:12px;
    color:#909090;
    position: relative;
}

hr{
    background-color:#303030;
    color:#303030;
    height:1px;
    padding-top:0px;
    border:none;
    margin-right:5px;
    margin-left:5px;
}

input, #id_apis, #id_body{
    vertical-align: top;
    float: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 2px 0px 2px;
    font-size: 11px;
    border: none;
    border-radius: 2px;
}

input[type=button], input[type=submit]{
    vertical-align: top;
    background: #F1F1F1;
    color: black;
    cursor: pointer;
    padding: 0.5px 0.5px;
}

input[type=submit]:hover, input[type=button]:hover {
    color: #505050;
}

input[type=submit]:active, input[type=button]:active {
    background: #D0D0D0;
    background-position: top;
}

#id_apis, #id_body{
    vertical-align: middle;
}

.errornote {
    width: 220px;
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-radius: 6px;
    border: 1px solid #909090;
    color: #C0C0C0;
    background: rgba(240, 240, 240, 0.3);
}

ul.errorlist {
    width: 280px;
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 1px 2px 1px 15px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    border-radius: 6px;
    color: #C0C0C0;
    background: rgba(240, 240, 240, 0.3);
}

.errorlist li a {
 	color: white;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.div_main{
    margin-top:10px;
    width: 980px;
    background: rgba(40, 40, 40, 0.9);
    padding-bottom: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 15px 12px 10px -7px rgba(0,0,0,0.6);
    -moz-box-shadow: 15px 12px 10px -7px rgba(0,0,0,0.6);
    box-shadow: 15px 12px 10px -7px rgba(0,0,0,0.6); 
}

.div_main_top_spacer{
    height: 30px;
    background: rgba(60, 60, 60, 0.0);
    border-radius: 8px;
}

.overview{
    margin-top:40px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
}

h1{
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    color: #1bb1e2; 
    font-size: 26px;
}

h2{
    font-size:20px;
    color:#D0D0D0;
    margin-bottom:10px;
}

h3{
    font-size:16px;
    color: #1691b9;
}



label{
    color: #D0D0D0;
}



.axis path,

.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.p_home{
    margin-left:15px;
    padding-right:15px;
    font-size:12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    line-height:18px;
    color: #eeeeee;
}

.p_home b{
    color:#FFF;
}

.table_about{
    margin-left:40px;
    padding-bottom:0px;
    margin-bottom:20px;
}

.table_about p{
    padding-left: 8px;
    padding-right: 11px;
    text-align:justify;
}

.td_border_right{
    border-right-color:#252525;
    border-right-width:thin;
    border-right-style:solid;
}

.table_port{
    text-align:center;
}

div #preload{
    display: none;
}
