.body{
    background: url(blackLinen.png);
}

.container{
    background: url(blackLinen.png);
}

#graphs{
    width: 650px;
}

#filters{
    clear: none;
    display: inline-block;
    float: left;
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#trends{
    display: inline-block;
    float: bottom;
    background-color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
