{% extends "registration/datavis_base_site.html" %}
{%load i18n %}

{% block title %}Registration{% title %}

{% block content %}
<h1>Registration</h1>
<div class="overview">
<p>Please enter your details:</p>
<br/>
  {% if form.is_multipart %}
  <form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
  {% else %}
    <form method="post" action=".">{% csrf_token %}
  {% endif %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
{% endblock %}
