<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--The help file in HTML. I am not very good at web design, so I still use tables and tds. Shame on me.-->
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="TweeProto Help File" />
        
        <title>Help | Detanglement</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
    </head>
    
	<body align="center" class="body_main">
    	<div class="div_center" align="center">
            <div class="div_main">
              <div class="div_main_top_spacer"></div>
                <div class="div_body">
                <h1>Help</h1>
                    <div class="overview">
                    <p>
                        Entanglement is a Big Data Visualization Tool for experts and
                        newbies alike. It is designed to be intuitive, comprehensive
                        and simple, while being empowering at the same time.
                        The following guidelines are more of a philosophical than
                        a technical introduction and I would advise you to take your time
                        and play around with the program. You might find details in your 
                        data you had never imagined to see.
                        </p><br/>
                    <p>
                        But first, let us say the old mantra together.
                    </p>
                    </div>
                    <table align="center" class="table_about"> 
                     <tr>
                         <td width="30">
                             <h2 align="center">Overview First</h2>
                         </td>
                    	<td width="300">
                           <h2 align="center">Zoom and Filter</h2>
                        </td>
                    	<td width="300">
                           <h2 align="center">Details on Demand</h2>
                        </td>
                    </tr>
                         <td width="290" class="td_border_right" valign="top">
                            <p> 
                                The scope of this tool could hardly be bigger - it aims to 
                                visualize every geolocalized data set you have, provided
                                you tell the tool how to read it. The first time using it,
                                you will be seeing an all too familiar Google Map - but you
                                do not have to if you do not like it! An SVG-based alternative
                                that I personally like very much is included as well: Kartograph.
                                With this framework, possibly the most beautiful maps on the web 
                                can be created. I hope you will give it a try and come to love it
                                as much as I do - and if not, there is still good old Google Maps
                                for you, right?
                            </p>
			            </td>                               
                        <td width="290" class="td_border_right" valign="top">
                            <p>
                                Once you have made yourself comfortable with the tool and its look,
                                you might want to look at your data more in-depth. This is possible
                                effortlessly. Depending on whether you use Kartograph or Google Maps,
                                the visualization and the filter might act and feel very different.
                                That is because they are. Kartograph has more of a geographically
                                broad way of displaying trends and significance, while Google Maps
                                aims to localize things very distinctly. Both approaches have their
                                advantages and you might switch between the tools, depending on the
                                job you want to have done.
                                A variety of filters - geographical and time-based - are at your
                                service as well. You mgiht want to check them out if you want
                                to have the most accurate picture of your data.
                            </p>
                        </td>
                        <td width="290" valign="top">
                            <p>
                                Most of the filtering and merging is happening in the background.
                                Because automation is not perfect, though, and you might want to cross-
                                check things manually from time to time, options for disabling those
                                features are also given. Beware though, the bigger the data set, the bigger
                                the advantage of having a preselection done by the machine. You do not
                                want to drown in your data, do you?
                            </p>
                        </td>
                	</tr>
                </table>
        <div class="div_foot">
            <hr />
            &copy; No rights reserved. Proudly made with VI only.
            </div>
        </div>
	</body>
</html>
