{% extends "datavis/base.html" %}
{%block title %}Imprint{% endblock %}
{% block content %}
                <h1>Imprint</h1>
                    <div class="overview">
                        <p>
                            Responsible for design, original content and engineering: 
                            <br></br> 
                            Veit Heller<br/>
                            Zinsgutstrasse 19<br/>
                            12489 Berlin
                            <br></br> 
                            This work was done while being employed by the INKA research
                            group of the HTW Berlin.
                            <br></br> 
                            The author is not responisble for content created and 
                            data collected by users nor for the usage of the tool.
                            <br></br> 
                            If there are any formal or informal claims or remarks,
                            please contact the team via mail or the <a class="link" href="/contact">contact form</a>.
                        </p>
                    </div>
{% endblock %}
