{% load staticfiles %}{% load firstof from future %}<!DOCTYPE html>
{% load dajaxice_templatetags %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %} | Detanglement</title>
<!--Stylesheets-->
        <script language="javascript">var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script>
        <link href="{% static 'javascript/toastr/toastr.css' %}" rel="stylesheet"/> 
        <link href="{% static 'style/index_style.css' %}" rel="stylesheet"/> 
        <link href="{% static 'style/nav_style.css' %}" rel="stylesheet"/> 

        <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="{% static 'javascript/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'javascript/modernizr.js' %}"></script>
        <script src="{% static 'dajax/jquery.dajax.core.js' %}"></script>
        <script src="{% static 'javascript/toastr/toastr.js' %}"></script>
        <script src="{% static 'javascript/navStartup.js' %}"></script>
        <script src="{% static 'javascript/OpenLayers.js' %}"></script>
        <script src="{% static 'javascript/mapAndStartup.js' %}"></script>
        <script src="{% static 'javascript/jquery.sortable.min.js' %}"></script>
        {% dajaxice_js_import %}
        <script src="{% static '/static/dajax/jquery.dajax.core.js' %}"></script>

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="body_main">
    <header class="clearfix">
    <a class="menu pull-right" data-position="right" href="#">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </a>
    </header>

    <div class="overlay"></div>

    <nav class="right">
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/settings">Settings</a>
        </li>
        <li>
          <a href="/help">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="https://github.com/hellerve/Detanglement">Github</a>
        </li>
        <li>
          <a href="/imprint">Imprint</a>
        </li>
        <li>
          <a href="/accounts/logout">Logout</a>
        </li>
      </ul>
      </nav>
<!-- Container -->
    <div class="div_center">
            {% block main %}
            {{ main }}
            {% endblock %}
    </div>
<!-- END Container -->

</body>
</html>
