{% extends "datavis/index_base.html" %}
{%block title %}Home{% endblock %}
{% block main %}
                <div class="fillForm" align="center">
                    <form>
                        <label for="country">Country:</label>
                        <input type="text" name="country" id="country" onchange="fillForm();" onkeyup="this.onchange();"
                        onpaste="this.onchange();" oninput="this.onchange()">
                        <label for="city">City:</label>
                        <input type="text" name="city" id="city" onchange="fillForm();" onkeyup="this.onchange();"
                        onpaste="this.onchange();" oninput="this.onchange()">
                        <input type="button" id="submitBtn" value="Submit Location" onclick="getRegion()">
                        <input type="button" id="localizedBtn" value="Get Localized Trends" onclick="getLocalizedTrends()">
                    </form>
                </div>
                <div class="refresh">
                    <input type="button" id="refreshButton" onclick="load(); progress();">
                </div>
                <div class="progress">
                    <p>Loading</p>
                    <progress id="progressbar" value="10" max="100"></progress>  
                    <p>The data is being processed.</p>
                    <input type="button" value="Interrupt" onclick="endVisualization();">
                </div>
                <div class="map_object" id="google-canvas"></div> 
                <div class="map_object" id="kartograph-canvas"></div>
                <div class="map_object" id="osm-canvas"></div>
{% endblock %}
