{% extends "datavis/index_base.html" %}
{%block title %}Home{% endblock %}
{% block main %}
                <div class="fillForm" align="center">
                    <form>
                        <label for="country">Country:</label>
                        <input type="text" name="country" id="country" onchange="fillForm();" onkeyup="this.onchange();"
                        onpaste="this.onchange();" oninput="this.onchange()">
                        <label for="city">City:</label>
                        <input type="text" name="city" id="city" onchange="fillForm();" onkeyup="this.onchange();"
                        onpaste="this.onchange();" oninput="this.onchange()">
                        <input type="button" id="submitBtn" value="Submit Location" onclick="getRegion()">
                        <input type="button" id="localizedBtn" value="Get Localized Trends" onclick="getLocalizedTrends()">
                    </form>
                </div>
                <div class="refresh">
                    <input type="button" id="refreshButton" onclick="load(); progress();">
                </div>
                <div class="progress">
                    <div class="header">
                        <h2>Loading</h2>
                    </div>
                    <label for="progressbar"><i class="fa fa fa-cogs"></i></label>
                    <progress id="progressbar"></progress>  
                    <p>The data is being processed. This can take up to a few minutes.</p>
                    <input type="button" value="Interrupt" onclick="endVisualization();">
                </div>
                <div class="filters">
                    <div class="header">
                        <h2>Filters</h2>
                    </div>
                    <p>Select time boundaries here.</p>
                    <input class="month" id="from" type="month" value="2014-09">
                    <input class="month" id="to" type="month" value="2014-09">
                    <p>Select filters here. Simply drag and drop them from one list to another.</p>
                    <ul class="connected sortable list" id="sort_first">
                    </ul>
                    <ul class="connected sortable list" id="sort_second">
                    </ul>
                    <input class="button" type="button" value="Cancel" onclick="$('.filters').hide()">
                    <input class="button" type="button" value="Apply" onclick="applyFilters()">
                </div>
                <div class="map_object" id="google-canvas"></div> 
                <div class="map_object" id="kartograph-canvas"></div>
                <div class="map_object" id="osm-canvas"></div>
{% endblock %}
