{% extends "datavis/base.html" %}
{% load staticfiles %}
        {%block title %}Change your password{% endblock %}
        {%block extrastyle %}<link rel="stylesheet" href="{% static 'style/password_change.css' %}"/>{% endblock %}
        {% block content %}
        <h1>Password change</h1>
                <div class="overview">
                    <p>In this pane, you can change your password.</p>
                    <br></br>
                    <form action="/passwordchange/" method="post">{% csrf_token %}
                    {{ form.password.errors }}
                    <label for="id_privacy">Password:</label>
                    {{ form.password }}
                    <br/>
                    {{ form.password_sec.errors }}
                    <label for="id_display">Password(again):</label>
                    {{ form.password_sec }}
                    <br></br>
                    <input type="submit" value="Apply"></input>
                    </form>
                </div>
        {% endblock %}
